#back_input {
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr;   
    margin: 1rem;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 3rem 5rem;
    grid-template-rows: 3rem;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}
#add{
    font-size: 40px;
    color: white;
    background-color: #05df05;
    border: none;
    border-radius: 5px;
}
#text{
    border-radius: 15px;
    border-color: #a7aedf69;
    font-size: 24px;
    text-indent: 10px;
}
#name__list{
    margin-bottom: 1rem;
    font-size: 22px;
    margin-left: 1rem;
}
#del{
    background-color: #ff0000bf;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    color: white;
}
#error{
    color: red;
    background-color: rgb(127 231 252 / 73%);
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    font-weight: 600;
    display: none;
}
.item {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 1rem #5d7ef1;
    display: grid;
    grid-template: 1fr/0.1fr;
    align-items: center;
    visibility: hidden;
}
.items{
    display: grid;
    grid-template: 1fr/ 0.1fr 0.1fr;
    align-items: center;
}

.item-list{
    font-size: 2.2rem;
    margin: 2rem;
}
.check{
    height: 20px;
}
.none__activeBtn{
    opacity: 0.3;
}
.none__activeBtn .active{
    opacity: 1;
}
